/* Image style */
.calc-img {
  border: 2px solid black;
  margin-right: 5px;
}
.calc {
  width: 100%;
}

/* Input box style */
.salary-management {
  background-color: #f8f8f8;
  border: 2px solid black;
  padding: 10px;
  
}

/* Style for all h5 tag */
h5 {
  text-align: center;
}
/* Table Style */
table tr td {
  padding: 5px;
}

/* Calculator section */
.calculate {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculate-button {
  width: 180px;
}

/* Saving section */
.saving-remaining {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.saving {
  margin-bottom: 10px;
}

/* percentage section */
.percentage {
  width: 40px;
  height: 30px;
  padding: 2px 20px;
  border-radius: 2px;
  border: none;
}

/* Saving button */
.saving-button {
  width: 100px;
  height: 30px;
  border: none;
  color: white;
  border-radius: 2px;
}
